Repository Benceszalaiii/ValorantGeoguessr, pull requests merged in 2023-04, with the labels that each got.

#46 bug fixes
  en/game.html
  en/index.html
  javascript/game.js
  style/game.css
  teszt.html
Labels: bug, HTML

#48 menu done
  en/index.html
  javascript/cookies.js
  javascript/game.js
  javascript/index.js
  style/style.css
Labels: Javascript, HTML, CSS

#50 bind képek hozzáadve (bind mostmár játszható)
  javascript/game.js
  javascript/locations.js
  sources/Bind/Easy/kep1.png
  sources/Bind/Easy/kep2.png
  sources/Bind/Easy/kep3.png
  sources/Bind/Easy/kep4.png
  sources/Bind/Easy/kep5.png
  sources/Bind/Easy/kep6.png
  sources/Bind/Easy/kep7.png
  sources/Bind/Easy/kep8.png
  sources/Bind/Easy/kep9.png
  sources/Bind/Hard/kep1.png
  sources/Bind/Hard/kep10.png
  sources/Bind/Hard/kep11.png
  sources/Bind/Hard/kep2.png
  sources/Bind/Hard/kep3.png
  sources/Bind/Hard/kep4.png
  sources/Bind/Hard/kep5.png
  sources/Bind/Hard/kep6.png
  sources/Bind/Hard/kep7.png
  sources/Bind/Hard/kep8.png
  sources/Bind/Hard/kep9.png
  sources/Bind/Medium/kep1.png
  sources/Bind/Medium/kep2.png
  sources/Bind/Medium/kep3.png
  sources/Bind/Medium/kep4.png
  sources/Bind/Medium/kep5.png
  sources/Bind/Medium/kep6.png
  sources/Bind/Medium/kep7.png
  sources/Bind/Medium/kep8.png
  tools/index.js
Labels: Források, Térkép

#56 52 leaderboard fix
  javascript/database.js
  javascript/game.js
  javascript/leaderboard.js
Labels: Javascript, Adatbázis, Leaderboard

#57 53 leaderboard style
  en/leaderboard.html
  javascript/leaderboard.js
  javascript/options.js
  style/leaderboard.css
Labels: Javascript, HTML, CSS, Leaderboard

#62 menu style changed a bit
  en/leaderboard.html
  javascript/game.js
  javascript/leaderboard.js
  style/leaderboard.css
  style/style.css
Labels: bug, Javascript, HTML, CSS

#70 63 random megcsinálása
  en/game.html
  en/index.html
  en/leaderboard.html
  javascript/game.js
  javascript/leaderboard.js
  javascript/locations.js
  style/game.css
Labels: Javascript, Geoguessr

#76 75 lotus split képek
  en/index.html
  javascript/locations.js
  sources/Lotus/Easy/kep1.png
  sources/Lotus/Easy/kep2.png
  sources/Lotus/Easy/kep3.png
  sources/Lotus/Easy/kep4.png
  sources/Lotus/Easy/kep5.png
  sources/Lotus/Easy/kep6.png
  sources/Lotus/Hard/kep1.png
  sources/Lotus/Hard/kep2.png
  sources/Lotus/Hard/kep3.png
  sources/Lotus/Hard/kep4.png
  sources/Lotus/Hard/kep5.png
  sources/Lotus/Hard/kep6.png
  sources/Lotus/Medium/kep1.png
  sources/Lotus/Medium/kep2.png
  sources/Lotus/Medium/kep3.png
  sources/Lotus/Medium/kep4.png
  sources/Lotus/Medium/kep5.png
  sources/Lotus/Medium/kep6.png
  sources/Lotus/Medium/kep7.png
  sources/Pearl/Easy/kep1.png
  sources/Pearl/Easy/kep2.png
  sources/Pearl/Easy/kep3.png
  sources/Pearl/Easy/kep4.png
  sources/Pearl/Easy/kep5.png
  sources/Pearl/Easy/kep6.png
  sources/Split/Easy/kep1.png
  sources/Split/Easy/kep2.png
  sources/Split/Easy/kep3.png
  sources/Split/Easy/kep4.png
  sources/Split/Easy/kep5.png
  sources/Split/Easy/kep6.png
  sources/Split/Hard/kep1.png
  sources/Split/Hard/kep2.png
  sources/Split/Hard/kep3.png
  sources/Split/Hard/kep4.png
  sources/Split/Hard/kep5.png
  sources/Split/Hard/kep6.png
  sources/Split/Medium/kep1.png
  sources/Split/Medium/kep2.png
  sources/Split/Medium/kep3.png
  sources/Split/Medium/kep4.png
  sources/Split/Medium/kep5.png
  sources/Split/Medium/kep6.png
Labels: Források, Térkép

#77 maps added
  en/index.html
  hu/index.html
  javascript/locations.js
  sources/Icebox/Easy/kep1.png
  sources/Icebox/Easy/kep2.png
  sources/Icebox/Easy/kep3.png
  sources/Icebox/Easy/kep4.png
  sources/Icebox/Easy/kep5.png
  sources/Icebox/Easy/kep6.png
  sources/Icebox/Hard/kep1.png
  sources/Icebox/Hard/kep2.png
  sources/Icebox/Hard/kep3.png
  sources/Icebox/Hard/kep4.png
  sources/Icebox/Hard/kep5.png
  sources/Icebox/Hard/kep6.png
  sources/Icebox/Medium/kep1.png
  sources/Icebox/Medium/kep2.png
  sources/Icebox/Medium/kep3.png
  sources/Icebox/Medium/kep4.png
  sources/Icebox/Medium/kep5.png
  sources/Icebox/Medium/kep6.png
  sources/Pearl/Easy/kep4.png
  sources/Pearl/Easy/kep5.png
  sources/Pearl/Easy/kep6.png
  sources/Pearl/Hard/kep1.png
  sources/Pearl/Hard/kep2.png
  sources/Pearl/Hard/kep3.png
  sources/Pearl/Hard/kep4.png
  sources/Pearl/Hard/kep5.png
  sources/Pearl/Hard/kep6.png
  sources/Pearl/Medium/kep1.png
  sources/Pearl/Medium/kep2.png
  sources/Pearl/Medium/kep3.png
  sources/Pearl/Medium/kep4.png
  sources/Pearl/Medium/kep5.png
  sources/Pearl/Medium/kep6.png
Labels: Források, Térkép

#83 fixed some bugs
  ar/index.html
  de/index.html
  en/index.html
  es/index.html
  fr/index.html
  hu/index.html
  javascript/index.js
  jp/index.html
  style/style.css
Labels: bug, Javascript, HTML
